<h1>Fabric Client Demo</h1>
<h3>@FabricClient.ApiVersion</h3>
<p>
	@Html.ActionLink("Class 1", "Class", new { id=1 })<br />
	@Html.ActionLink("Class 2", "Class", new { id=2 })<br />
	<br />
	@Html.ActionLink("DescriptorTypesType 1", "DescriptorTypes", new { id=1 })<br />
	@Html.ActionLink("DescriptorTypesType 2", "DescriptorTypes", new { id=2 })<br />
	@Html.ActionLink("DescriptorTypesType List", "DescriptorTypes")<br />
	@Html.ActionLink("DescriptorType List", "DescriptorTypes")<br />
	<br />
	@Html.ActionLink("OAuth", "Index", "Oauth")<br />
	<br />
	@Html.ActionLink("Current App", "MyApp")<br />
	@Html.ActionLink("Current App DataProvider", "MyAppDataProv")<br />
	@Html.ActionLink("Current Person", "Me") ... requires Person authentication<br />
	<br />
	@Html.ActionLink("Meta: Version", "Version", new {})<br />
	@Html.ActionLink("Meta: Time", "Time", new {})<br />
	@Html.ActionLink("Meta: Spec", "Spec", new {})<br />
</p>