<h1>Fabric Client Demo</h1>
<h3>@FabricClient.ApiVersion</h3>
<p>
	@Html.ActionLink("Artifact 1", "Artifact", new { id=1 })<br />
	@Html.ActionLink("Artifact 2", "Artifact", new { id=2 })<br />
	<br />
	@Html.ActionLink("ArtifactType 1", "ArtifactTypes", new { id=1 })<br />
	@Html.ActionLink("ArtifactType 2", "ArtifactTypes", new { id=2 })<br />
	@Html.ActionLink("ArtifactType List", "ArtifactTypes")<br />
	@Html.ActionLink("DescriptorType List", "DescriptorTypes")<br />
	<br />
	@Html.ActionLink("OAuth", "Index", "Oauth")<br />
	<br />
	@Html.ActionLink("Current App", "MyApp")<br />
	@Html.ActionLink("Current App DataProvider", "MyAppDataProv")<br />
	@Html.ActionLink("Current Person", "Me") ... requires Person authentication<br />
	<br />
	@Html.ActionLink("Meta: Version", "Version", new {})<br />
	@Html.ActionLink("Meta: Time", "Time", new {})<br />
	@Html.ActionLink("Meta: Spec", "Spec", new {})<br />
</p>