<h1>Fabric Client Demo</h1>
<h3>@FabricClient.ApiVersion</h3>
<p>
	@Html.ActionLink("Class By ID", "Class", new { id=108 })<br />
	@Html.ActionLink("Class Name Contains", "ClassNameContains", new { id="artificial" })<br />
	@Html.ActionLink("User By Name", "UserName", new { id="ZachKinstner" })<br />
	@Html.ActionLink("DescriptorTypes", "DescriptorTypes")<br />
	@Html.ActionLink("DescriptorType 4", "DescriptorTypes", new { id=4 })<br />
	<br />
	@Html.ActionLink("OAuth", "Index", "Oauth")<br />
	<br />
	@Html.ActionLink("Current App", "MyApp")<br />
	@Html.ActionLink("Current App DataProvider", "MyAppDataProv")<br />
	@Html.ActionLink("Current Person", "Me") ... requires Person authentication<br />
	@Html.ActionLink("Current Member", "MyMember") ... requires Person authentication<br />
	<br />
	@Html.ActionLink("Meta: Version", "Version", new {})<br />
	@Html.ActionLink("Meta: Time", "Time", new {})<br />
	@Html.ActionLink("Meta: Spec", "Spec", new {})<br />
</p>