@model FabricErrorException
@if ( Model.RespError != null ) {
	<h1>Fabric Error/Exception</h1>
	<h2>@Model.RespError.Error.Name</h2>
	<p>
		@Model.RespError.Error.Message<br />
		<br />
		(Code: @Model.RespError.Error.Code)
	</p>
}
else {
	<h1>FabricErrorException (OAuth)</h1>
	<h2>@Model.OauthError.error</h2>
	<p>
		@Model.OauthError.error_description
	</p>
}